*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:#f4fdf4;
    color:#222;
    line-height:1.6;
    padding:20px;
}

header{
    text-align:center;
    padding:20px;
    background-color:white;
    border-radius:8px;
    margin-bottom:20px;
}

header h1{
    color:#0d7a26;
}

nav{
    background-color:#0d7a26;
    padding:10px;
    margin:20px 0;
    border-radius:8px;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:15px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    padding:8px 12px;
    background-color:#0a5e1d;
    border-radius:5px;
    transition:0.3s;
}

nav ul li a:hover{
    background-color:#063d12;
}

section{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.producto{
    width:250px;
    background-color:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
    text-align:center;
}

.producto .img-box{
    width:100%;
    height:200px;
    background:#d4f5d4;
    border-radius:8px;
}

.mensaje-producto{
    margin-top:10px;
    font-weight:bold;
}

.agotado{
    color:red;
}

.btn-carrito{
    margin-top:10px;
    padding:8px 12px;
    border:none;
    background-color:#0d7a26;
    color:white;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

.btn-carrito:hover{
    background-color:#063d12;
}

footer{
    text-align:center;
    padding:15px;
    margin-top:30px;
    background-color:#0d7a26;
    color:white;
    border-radius:8px;
}
