/* estilos.css */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color:#f2f9f2;
  color:#333;
  line-height:1.6;
  padding:20px;
}

/* header */
header{
  text-align:center;
  padding:20px;
  background-color:white;
  border-radius:10px;
  box-shadow:0 2px 5px #7cbf7c;
  margin-bottom:20px;
}
.logo{
  max-width:80px;
  border-radius:8px;
  object-fit:cover;
}

/* nav */
nav{
  margin-bottom:20px;
}
.hero-card{
  background:white;
  border-radius:10px;
  box-shadow:0 2px 5px #7cbf7c;
}

/* productos */
.card.product{
  border-radius:10px;
  box-shadow:0 2px 6px rgba(0,0,0,0.06);
}
.card.product img{
  height:180px;
  object-fit:cover;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

/* contacto y carrito */
.card{
  border-radius:10px;
  background:white;
}

/* footer */
footer{
  text-align:center;
  padding:15px;
  background-color:#2e7d32;
  color:white;
  border-radius:10px;
  margin-top:20px;
}

/* botones */
.btn-success{
  background-color:#2e7d32;
  border:none;
}
.btn-success:hover{
  background-color:#1b5e20;
}

/* responsive */
@media(max-width:900px){
  body{padding:12px;}
}
